.tasks {
  margin: 50px;
}

#task{
  /* d-flex justify-content-between align-items-center */
  display: flex;
  justify-content:space-between;
  align-items: center;
}

#task-text{
  font-size: large;
}